{% extends 'base.html' %}

{% block content %}
{% load tz %}
<script type="text/javascript">$(document).ready(function () { $("#dataTable").DataTable(); });</script>
<div width="100%">
	<p><a href="{% url 'home' %}"><i class="fas fa-home"></i> Return to home</a></p>
{% if record_list %}  
    <table id="dataTable" class="table table-striped table-bordered table-sm text-center" cellspacing="0">
    <thead>
    	<th class="th-sm align-middle">Description</th>
    	<th class="th-sm align-middle">Uploaded on</th>
    	<th class="th-sm align-middle">By user</th>
    	<th class="th-sm align-middle">Processed on</th>
    	<th class="th-sm align-middle">Text polarity</th>
    	<th class="th-sm align-middle">Text subjectivity</th>
  	</thead>
  	<tbody>
    {% for record in record_list %}
	<tr>
		<td><a href="{% url 'results' record.id %}">{{ record.description }}</a></td>
		<td>{{ record.uploaded_at|timezone:"America/Los_Angeles" }}</td>
		<td>{{ record.user_name }}</td>
		<td>{{ record.processed_at|timezone:"America/Los_Angeles" }}</td>
		<td>{{ record.polarity|floatformat:2 }}</td>
		<td>{{ record.subjectivity|floatformat:2 }}</td>
	</tr>
    {% endfor %}
    <tbody>
    </table>
{% else %}
    <p>No files are uploaded yet.</p>
{% endif %}
 </div>
{% endblock %}
