{% extends 'base.html' %}
{% block content %}
<h1 style="text-align:center;">Welcome to the Text-a-lyzer!</h1>
<p style="text-align:center;"><a href="{% url 'upload' %}"><i class="fas fa-upload"></i> Upload a new text file</a></p>
<p style="text-align:center;"><a href="{% url 'archive' %}"><i class="fas fa-envelope-open-text"></i> See previously uploaded files</a></p>
{% endblock %}
