{% extends 'base.html' %}

{% block content %}
{% load tz %}
<p><a href="{% url 'archive' %}"><i class="fas fa-envelope-open-text"></i> Return to all documents</a></p>
<p>Your document is {{ record.polarity_text }} and {{ record.subjectivity_text }}.</p>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#more">See more...</button>
<div id="more" class="collapse">
  Document description: {{ record.description }} as file number: {{ record.id }}<br/>
  Polarity score (from -1 to 1): {{ record.polarity|floatformat:2 }}<br/>
  Subjectivity score (from 0 to 1): {{ record.subjectivity|floatformat:2 }}<br/>
  Uploaded on: {{ record.uploaded_at|timezone:"America/Los_Angeles" }} by {{ record.user_name }}<br/>
  Processed on: {{ record.processed_at|timezone:"America/Los_Angeles" }}<br/>
</div>
<p><br/>Here is how you compare to the rest of the internet:<br/><img src="{% url 'plot' record.id %}"></img></p>
{% endblock %}
