{% extends 'base.html' %}

{% block content %}
<p><a href="{% url 'home' %}"><i class="fas fa-home"></i> Return to home</a></p>
<style>th { padding: 0.5em; } .errorlist {color: #f44268;} </style>
<div class="card text-white bg-primary mx-auto" style="max-width: 24rem;">
  <div class="card-header">Upload your text sample here:</div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
    	  {{ form.as_table }}
      </table>
      <button type="submit">Upload</button>
    </form>
  </div>
</div>
{% endblock %}